

@model IEnumerable<AspNet_Core.Models.Kitaplar>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>YAZAR</th>

    </tr>
    @foreach(var x in Model)
            {
<tr>
    <td>@x.ID</td>
    <td>@x.KitapAd</td>
    <td>@x.Yazar</td>



</tr>
            }

</table>