@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>

    <div style="background-color:#0094ff">
        @DateTime.Now.ToShortDateString()
    </div>
    <br />
    <div style="background-color:#b6ff00">
        @for (int i = 1; i <= 10; i++){
            @i
        }

    </div>
    
</body>
</html>